{% extends  "main/cooked.html" %}
{% load static %}
{% block page %}Рецепт борща {% endblock%}
{% block craft %}<p>Продукты:
  Говядина - 500 г,
  Картофель - 500 г,
  Капуста белокочанная - 500 г,
  Свекла - 300 г,
  Морковь - 300 г,
  Лук репчатый - 2 шт,
  Томат-паста - 2 ст. ложки </p> {% endblock %}

{% block recipe %} <p> Подготавливают все необходимые продукты. Если чернослив сухой, заливают его
  кипятком на 10-15 минут.Мясо нарезают небольшими кусочками.
Картофель очищают и нарезают крупными кусками.
Свеклу очищают, нарезают соломкой </p> {% endblock %}

{% block img %} <img src = "{% static 'main/img/borw.jfif' %}" alt = 'Борщ'> {% endblock %}