{% extends  "main/cooked.html" %}
{% load static %}
{% block page %} Рецепт сырников {% endblock %}

{% block craft %} <p>Продукты:
Творог жирностью 9% - 400 г.
Яйца - 1-2 шт. (в зависимости от размера)
Сахар - 60 г (3 ст. ложки), по вкусу.
Мука - 70 г (2 ст. ложки с большой горкой) + для панировки.
Ванильный сахар - 10 г.
Соль - 1 щепотка.
Масло растительное рафинированное - для жарки </p> {% endblock %}

{% block recipe %} <p>Соединяем в миске творог, яйцо, сахар, ванильный сахар и соль.Всё хорошо перемешиваем.
Можно использовать блендер, чтобы творожная масса получилась однородной.
Затем добавляем муку и тщательно перемешиваем творожное тесто.Формируем небольшие шарики из творожного теста, слегка их придавливаем.
 </p>{% endblock %}

     {% block img %} <img src = "{% static 'main/img/curnuku.jfif' %}" alt ="Сырники;)" >  {% endblock %}