{% extends "main/cooked.html" %}
{% load static %}
{% block page %} Рецепт пельменей {% endblock%}
{% block craft %} <p>Продукты:
Мука пшеничная просеянная - 500 г + для работы с тестом.
Вода горячая (70-75 градусов) - 250 мл.
Яйцо (небольшое) - 1 шт.
Соль - 1 ч. ложка без горки.
Масло растительное без запаха - 25 мл.
Мясо (говядина и свинина) - 550 г.
</p>  {% endblock %}

{% block recipe %} <p> В муку добавляем соль, яйцо и растительное масло. Слегка перемешиваем.
Сдвигаем яйцо немного к краю миски, чтобы оно не сварилось. Заливаем муку горячей водой  постоянно перемешивая ложкой. </p>{% endblock %}

{% block img %} <img src = "{% static 'main/img/pelmen.jfif' %}" alt = 'Хорошие пельмен'> {% endblock %}